{% extends "layout.html" %}
{% block content %}

<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ image_file }}">
        <div class="media-body">
            <h2 class="account-heading border-bottom">{{ current_user.name }}</h2>
            <div class="row">
                <div class="col-md-6">
                    {% if current_user.is_admin %}
                    <p class="text-info">Admin</p>
                    {% endif %}
                    <p class="text-secondary">Name: {{ current_user.name }} {{ current_user.surname }}</p>
                    <p class="text-secondary">Email: {{ current_user.email }}</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="content-section">
    <h3 class="border-bottom">Account Option</h3>
    <div class="list-group">
        <a class="ml-2 list-group-item" href="{{ url_for('main.history', user=current_user.id) }}">User History</a>
        <a class="ml-2 list-group-item" href="{{ url_for('users.update_account') }}">Update Account</a>
        <a class="ml-2 list-group-item" href="{{ url_for('users.update_password') }}">Update Password</a>
    </div>
</div>
<div class="content-section">
    <h3 class="border-bottom">User Keys</h3>
    <ul class="list-group">
        {% for key in keys %}
        <li class="list-group-item">Name: {{ key.name }}
            <a type="button" class="btn btn-primary float-right btn-sm"
                href="{{ url_for('main.history', key=key.id) }}">
                Key History
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}