{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <h3 class="border-bottom">Keys</h3>
    <ul class="list-group">
        {% if keys.items %}
        {% for key in keys.items %}
        <li class="list-group-item">
            <div class="row justify-content-between">
                <div class="col">
                    <div class="text-truncate">
                        <span class="font-weight-bold">Name:</span>
                        <br>
                        <span class="text-muted">{{ key.name }}</span>
                    </div>
                </div>
                <div class="col">
                    <div class="text-truncate">
                        <span class="font-weight-bold">Owner:</span>
                        <br>
                        {% if key.key_user %}
                        <span class="text-muted">{{ key.key_user.name }}</span>
                        <a type="button" class="btn btn-danger btn-sm ml-1" href="#"><i class="bi bi-x"></i></a>
                        {% else %}
                        <a type="button" class="btn btn-info btn-sm" href="#">Add</a>
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="text-truncate">
                        <span class="font-weight-bold">Locks:</span>
                        <br>
                        <a type="button" class="btn btn-info btn-sm"
                            href="{{ url_for('users.key_show_locks', key_id=key.id) }}">Show/Add</a>
                    </div>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-primary" href="#">Edit</button>
                </div>
        </li>
        {% endfor %}
        {% else %}
        <li class="list-group-item">None</li>
        {% endif %}
    </ul>
</div>
{% for page_num in keys.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
{% if keys.page == page_num %}
<a class="btn btn-info mb-4" href="{{ url_for('users.update_keys', page=page_num) }}">{{ page_num }}</a>
{% else %}
<a class="btn btn-outline-info mb-4" href="{{ url_for('users.update_keys', page=page_num) }}">{{ page_num }}</a>
{% endif %}
{% else %}
...
{% endif %}
{% endfor %}
{% endblock content %}