{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <h3 class="border-bottom">Locks</h3>
    <ul class="list-group">
        {% if locks.items %}
        {% for lock in locks.items %}
        <li class="list-group-item">
            <div class="row justify-content-between">
                <div class="col">
                    <div class="text-truncate">
                        <span class="font-weight-bold">Name:</span>
                        <br>
                        <span class="text-muted">{{ lock.name }}</span>
                    </div>
                </div>
                <div class="col">
                    <div class="text-truncate">
                        <span class="font-weight-bold">Keys:</span>
                        <br>
                        <button type="button" class="btn btn-info btn-sm" href="#">Show/Add</button>
                    </div>
                </div>
        </li>
        {% endfor %}
        {% else %}
        <li class="list-group-item">None</li>
        {% endif %}
    </ul>
</div>
{% for page_num in locks.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
{% if locks.page == page_num %}
<a class="btn btn-info mb-4" href="{{ url_for('users.update_keys', page=page_num) }}">{{ page_num }}</a>
{% else %}
<a class="btn btn-outline-info mb-4" href="{{ url_for('users.update_keys', page=page_num) }}">{{ page_num }}</a>
{% endif %}
{% else %}
...
{% endif %}
{% endfor %}
{% endblock content %}