{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <h3 class="border-bottom">Locks</h3>
    <ul class="list-group">
        {% if locks.items %}
        {% for lock in locks.items %}
        <li class="list-group-item">
            <div class="row justify-content-between">
                <div class="col">
                    <div class="text-truncate">
                        <span class="font-weight-bold">Name:</span>
                        <br>
                        <span class="text-muted">{{ lock.name }}</span>
                    </div>
                </div>
                <div class="col-auto">
                    {% if lock not in key_locks %}
                    <a type="button" class="btn btn-primary"
                        href="{{ url_for('users.key_add_lock', key_id=key_id, lock_id=lock.id, page=page) }}">Add</a>
                    {% else %}
                    <a type="button" class="btn btn-danger"
                        href="{{ url_for('users.key_remove_lock', key_id=key_id, lock_id=lock.id, page=page) }}">Remove</a>
                    {% endif %}
                </div>
        </li>
        {% endfor %}
        {% else %}
        <li class="list-group-item">None</li>
        {% endif %}
    </ul>
</div>
{% for page_num in locks.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
{% if locks.page == page_num %}
<a class="btn btn-info mb-4" href="{{ url_for('users.key_show_locks', key_id=key_id, page=page_num) }}">{{ page_num
    }}</a>
{% else %}
<a class="btn btn-outline-info mb-4" href="{{ url_for('users.key_show_locks', key_id=key_id, page=page_num) }}">{{
    page_num }}</a>
{% endif %}
{% else %}
...
{% endif %}
{% endfor %}
{% endblock content %}