{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <h3 class="border-bottom">Users</h3>
    <ul class="list-group">
        {% if users.items %}
        {% for user in users.items %}
        <li class="list-group-item">
            <div class="row justify-content-between">
                <div class="col">
                    <div class="text-truncate">
                        <span class="font-weight-bold">Email:</span>
                        <br>
                        <span class="text-muted">{{ user.email }}</span>
                    </div>
                </div>
                <div class="col">
                    <div class="text-truncate">
                        <span class="font-weight-bold">Name:</span>
                        <br>
                        <span class="text-muted">{{ user.name }} {{ user.surname }}</span>
                    </div>
                </div>
                <div class="col">
                    <div class="text-truncate">
                        <span class="font-weight-bold">Admin:</span>
                        <br>
                        {% if not user.is_admin %}
                        <h4><i class="bi bi-x"></i></h4>
                        {% else %}
                        <h5><i class="bi bi-check-lg"></i></h5>
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="text-truncate">
                        <span class="font-weight-bold">Keys:</span>
                        <br>
                        <a type="button" class="btn btn-info btn-sm"
                            href="{{ url_for('users.keys_for_user', user_id=user.id) }}">Show/Add</a>
                    </div>
                </div>
                <div class="col-auto">
                    {% if user != current_user %}
                    <a type="button" class="btn btn-primary"
                        href="{{ url_for('users.edit_users_account', user_id=user.id)}}">Edit</a>
                    <a type="button" class="btn btn-danger"
                        href="{{ url_for('users.restart_password', user_id=user.id) }}">Reset password</a>
                    {% else %}
                    <button type="button" class="btn btn-primary" disabled>Edit</button>
                    <button type="button" class="btn btn-danger" disabled>Reset password</button>
                    {% endif %}

                </div>
            </div>
        </li>
        {% endfor %}
        {% else %}
        <li class="list-group-item">None</li>
        {% endif %}
    </ul>
</div>
{% for page_num in users.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
{% if users.page == page_num %}
<a class="btn btn-info mb-4" href="{{ url_for('users.update_users', page=page_num) }}">{{ page_num }}</a>
{% else %}
<a class="btn btn-outline-info mb-4" href="{{ url_for('users.update_users', page=page_num) }}">{{ page_num }}</a>
{% endif %}
{% else %}
...
{% endif %}
{% endfor %}
{% endblock content %}